#projects {
  padding-top: 4rem;
}
#projects-section {
  display: flex;
  flex-wrap: wrap;
  padding: 6rem 1rem 2rem 1rem;
  justify-content: space-evenly;
}

@media (min-width: 768px) {
  #projects-section {
    justify-content: space-between;
    padding: 6rem 10rem 2rem 10rem;
  }
}
