#top-nav {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}

#top-nav a {
  color: var(--tertiary);
  text-decoration: none;
}

.nav-item-right {
  padding-left: 1.5rem;
}

@media (min-width: 768px) {
  #top-nav {
    padding: 1.5rem 4rem;
  }

  .nav-item-right {
    padding-left: 2.5rem;
  }
}
