.project-link {
  color: var(--secondary);
  text-decoration: none;
  margin: 0 0.5rem 2.75rem 0.5rem;
}

.project-card {
  width: 330px;
  height: 280px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.project-card h3 {
  color: var(--tertiary);
  font-family: "Manrope", sans-serif;
  font-size: 1.75rem;
}

.project-description {
  font-family: "Manrope", sans-serif;
  font-size: 1.12rem;
}

.project-container {
  display: flex;
  flex-direction: column;
  align-content: space-between;
  padding: 28px;
}

.project-container > div:first-of-type {
  display: flex;
  justify-content: space-between;
}

.tag-container {
  display: flex;
  flex-wrap: wrap;
  font-weight: bold;
}

.github-link-container {
  display: flex;
  align-items: center;
  padding-top: 20px;
  font-weight: bold;
}

.github-link-container a {
  text-decoration: none;
}

.github-link-container p {
  font-family: "Monda", sans-serif;
  padding-left: 10px;
  color: var(--tertiary);
  margin: 0;
}

.tag:not(:last-of-type) {
  padding-right: 10px;
}
