.journey-item {
  max-width: 400px;
}

.journey-item:not(:last-child) {
  padding-bottom: 3.25rem;
}

.journey-title-container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.journey-title {
  display: flex;
  font-size: 1.75rem;
  font-family: "Manrope", sans-serif;
}

.date {
  font-size: 1rem;
}

.detail {
  display: flex;
  font-family: "Manrope", sans-serif;
}

.triangle {
  padding-right: 1rem;
}
