#nav-bar {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}

#nav-bar a {
  color: var(--secondary);
  text-decoration: none;
}

.nav-item-right {
  padding-left: 1.5rem;
}

#active {
  color: var(--tertiary) !important;
}

@media (min-width: 768px) {
  #nav-bar {
    padding: 1.5rem 4rem;
  }

  .nav-item-right {
    padding-left: 2.5rem;
  }
}
