html {
  --primary: #141628;
  --secondary: #dfdfdf;
  --tertiary: #fd4370;
}

@font-face {
  font-family: "Manrope";
  weight: 400;
  src: local("Manrope"), url("./fonts/Manrope-Regular.ttf");
}

@font-face {
  font-family: "Manrope";
  weight: 700;
  src: local("Manrope"), url("./fonts/Manrope-Bold.ttf");
}

@font-face {
  font-family: "Monda";
  weight: 400;
  src: local("Monda"), url("./fonts/Monda-Regular.ttf");
}

@font-face {
  font-family: "Monda";
  weight: 700;
  src: local("Monda"), url("./fonts/Monda-Bold.ttf");
}

body {
  margin: 0;
  font-family: "Monda", "Manrope", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--primary);
  color: var(--secondary);
}

h1 {
  font-family: "Manrope", sans-serif;
}

h2 {
  font-family: "Monda", sans-serif;
  font-size: 1rem;
}

h1,
h2,
h3 {
  margin: 0;
}

.pop-text {
  color: var(--tertiary);
}
