html {
  --primary: #25262a;
  --secondary: #b6b6b6;
  --secondary-light: #dfdfdf;
  --tertiary: #b7a4ff;
}

body {
  margin: 0;
  font-family: "Monda", "Manrope", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--primary);
  color: var(--secondary);
}

h1 {
  font-family: "Manrope", sans-serif;
}

.pop-text {
  color: var(--tertiary);
}

@font-face {
  font-family: "Manrope";
  weight: 400;
  src: local("Manrope"), url("./fonts/Manrope-Regular.ttf");
}

@font-face {
  font-family: "Manrope";
  weight: 700;
  src: local("Manrope"), url("./fonts/Manrope-Bold.ttf");
}

@font-face {
  font-family: "Monda";
  weight: 400;
  src: local("Monda"), url("./fonts/Monda-Regular.ttf");
}

@font-face {
  font-family: "Monda";
  weight: 700;
  src: local("Monda"), url("./fonts/Monda-Bold.ttf");
}
